.purple{
    background-color: #662e92;
    color:#ffff;
}

.Green{
    background-color: #0b9443;
    color:#ffff;
}

.Yellow{
    background-color: #f2ec17;
    color:#ffff;
}

.Orange{
    background-color: #fcb040;
    color:#ffff;
}
.Red{
    background-color: #bf1f2e;
    color:#ffff;
}
.White{
    background-color: #ffff;
    columns: #000000;;
}
.Black{
    background-color: #000000;
    color:#ffff;
}